.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}
.box h2 {
    font-size: 4em;
}
.box h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
}